li{
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    margin: 10px 5px;
    margin-bottom: 100px;
    transition:2s ease-out;
}

li:hover{
  opacity: 1;
  opacity 2s ease-in-out;
}
}

.container{
  width: 100%;
  margin: 0 auto;}

.card{
  position: relative;
  width: 300px;
  height: 300px;
  float:left;
  margin: 10px;
}
img{
  display: block;
  width: 100%;
  height: 100%;
  position:relative
}

.info{

  opacity: 0;
  position: absolute;
  box-sizing: border-box;
  background-color: rgba(83, 83, 83, 0.3);
  top: 0;
  width: 100%;
  height: 98%;
  text-align: center;
  transition:.2s ease-out;
  
}
.info p{
  color: rgb(255, 255, 255);
}
.info:hover{
  margin-top: 0;
  opacity: 1;  
}

.btu {
  position:relative;
  top: 40%;
  color: rgb(119, 118, 118);
  border: 0px;
  background-color: rgb(207, 207, 207);
  font-family: 'Raleway', sans-serif;
  
}