.banner {
    background: url('./img/img-1-07.jpg') center repeat-x;
    min-height: 300px;
    -webkit-animation: banner-slider 180s infinite linear;
    -moz-animation: banner-slider 180s infinite linear;
    -o-animation: banner-slider 180s infinite linear;
    animation: banner-slider 180s infinite linear;
  }
  
  @-webkit-keyframes banner-slider {
    from {
      background-position: 0 0;
    }
  
    to {
      background-position: 1122px 0;
    }
  }
  
  @-moz-keyframes banner-slider {
    from {
      background-position: 0 0;
    }
  
    to {
      background-position: 1122px 0;
    }
  }
  
  @-ms-keyframes banner-slider {
    from {
      background-position: 0 0;
    }
  
    to {
      background-position: 1122px 0;
    }
  }
  
  @keyframes banner-slider {
    from {
      background-position: 0 0;
    }
  
    to {
      background-position: 1122px 0;
    }
  }