.navbar-brand img{
    width: 70px;
    height: 70px;
}


.bg-light{
    background-color: white!important;
}

header{
    box-shadow: 0 0 5px rgb(141, 141, 141);
}

.head {
    font-family: 'Noto Sans TC', sans-serif;
}

.container h1 {
    text-align: center;
    margin: 40px 0;
}

.divider {
    height: 1px;
    /* padding: 10px; */
    border-bottom: 1px solid #e2dede;
    margin: 20px;
}

.container desc {
    padding: 40px;
}

.container.container.row{
    
} 

.products {
    background-color: rgb(236, 236, 236);
    padding: 40px 0;
}

.products container hs1{
    margin: 100px;
}

.form-group-center {
    text-align: center;
}

.btn-primary{
    margin: 20px;

}

.category {
    padding: 40px 0;
}